@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Orbitron:wght@400;500;600;700;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	thead > td {
		@apply text-[#E74141];
	}

	tr {
		@apply py-2 border-b-[1px] border-[#353434];
	}

	td {
		@apply font-orbitron font-[400] text-white text-[12px] leading-[14.4px] py-4;
	}

	tr:last-child {
		@apply border-b-0;
	}

	.home-bg {
		background: linear-gradient(181.19deg, rgba(0, 0, 0, 0.3) -26.59%, rgba(0, 0, 0, 0) 98.98%),
			url('/assets/backgrounds/home-bg.png');
	}

	.position > div:nth-child(even) {
		float: left;
		clear: right;
		padding-right: 20px;
	}

	.position > div:nth-child(even) > span {
		text-align: right;
	}

	.position > div:nth-child(even) > div {
		text-align: right;
	}

	.position > div:nth-child(odd) {
		float: right;
		clear: left;
		padding-left: 20px;
	}

	.position::before {
		content: '';
		height: 100%;
		border-left: 4px dashed #383838;
		position: absolute;
		left: 50%;
		/* background-color:gray; */
	}

	.position > div:after {
		content: '';
		width: 18px;
		height: 4px;
		background-color: #e74141;
		position: absolute;
		top: 0;
	}

	.position > div:nth-child(even):after {
		right: 0px;
		transform: translateX(10px);
	}

	.position > div:nth-child(odd):after {
		left: 0px;
		transform: translateX(-8px);
	}

	.timeline:after {
		/* content: "";
    width: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 50%;
    margin-top: 30%;
    height: 1px;
    background: red;
    right: 0; */
	}

	.image-wrap {
		position: absolute;
		top: -100px;
		left: 0px;
		right: 0px;
		width: 100%;
		max-width: 1550px;
		margin: 0px auto;
		height: calc(100% + 100px);
		z-index: -1;
		background-image: url(/assets/backgrounds/hero-section.svg);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center bottom;
		max-height: 69rem;
	}
}

@layer utilities {
	input[type='number']::-webkit-inner-spin-button,
	input[type='number']::-webkit-outer-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}

	::-webkit-scrollbar {
		width: 5px;
		height: 20px;
	}

	::-webkit-scrollbar-track {
		background: transparent;
	}

	::-webkit-scrollbar-thumb {
		background: rgba(231, 65, 65, 0.6);
		border-radius: 100vh;
		border: 2px solid transparent;
	}

	::-webkit-scrollbar-thumb:hover {
		background: #e74141;
		transition-duration: 0.4s;
		transition-delay: ease-in 0.4s;
	}
}
